<body>
  <p>
    Hello, my name is Kendal Asprec.
  </p>
  <p>
    I'm from Murrieta, California.
  </p>
  <p>
    I am currently a second year.
  </p>
  <p>
    I am very excited to create dynamic web pages and learn React.
  </p>
</body>
